.title1{
  color: darkblue;
  font-weight: bold;
  font-size: 45px
}
.hola{
  margin-left: 20%;
  font-weight: bold;
  color: firebrick;
  font-size: 37px;
}
.par1{
  margin-left: 20%;
  color: darkslategray;
  font-size: 25px;
}
.subpar{
  margin-right: 20%;
  color: olivedrab;
  font-size: 20px;
  font-style: italic;
}
